:root {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: #4b4b4b
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #99FFA5, #25E5FF);
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 2px 5px 17px 4px #c5d6e0;
    background: #f2f2f2;

    width: 50vh;
    height: 60vh;
    border-radius: 18px;

}