html {
    margin: 0;
    padding: 0;
    color: var(--body-text);
    
    --bg-gradient: linear-gradient(to bottom right, #99FFA5, #25E5FF);
    --bg-button: #027ad6;
    --bg-card: #f2f2f2;
    --shadow-card: 2px 5px 17px 4px #c5d6e0;
    --body-text: #4b4b4b;
    --button-text: #f2f2f2;
}

body {
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto Mono', monospace;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background: var(--bg-gradient);
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    box-shadow: var(--shadow-card);
    background: var(--bg-card);

    width: 50vh;
    height: 60vh;
    border-radius: 18px;

    transition: 1s ease-out;
}

.card-container:hover {
    transform: scaleY(98%) scaleX(98%);
}

.card-container > .card-header {
    display: flex;
    align-items: center;
}

.file-wrapper, .submit-wrapper {
    padding: 8px 0;
    transition: transform 0.3s;
}

.file-wrapper:hover, .submit-wrapper:hover {
    transform: scaleY(90%) scaleX(90%);
}

button[type=submit], input[type=file]::file-selector-button {
    border: none;
    padding: 6px 16px; 
    border-radius: 3px;

	color: var(--button-text);
	background: var(--bg-button);

    cursor: pointer;

    transition: 1s ease-out;
    
    font-family: 'Roboto Mono', monospace;
}